@page "/addexp"
@using PersonalWebsite.Shared
@inject NavigationManager NavigationManager
@inject IExperinceService _experinceService

<h2>Add your Experinces</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Degree" class="control-label">Title</label>
                <input for="Degree" class="form-control" @bind="@exp.Title" />
            </div>
            <div class="form-group">
                <label for="School" class="control-label">Description</label>
                <input for="School" class="form-control" @bind="@exp.Description" />
            </div>
            <div class="form-group">
                <label for="Start" class="control-label">Start Date</label>
                <input type="date" for="Start" class="form-control" @bind="@exp.Start" />
            </div>
            <div class="form-group">
                <label for="Start" class="control-label">Start date</label>
                <input type="date" for="Start" class="form-control" @bind="@exp.End" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Create" value="Save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {

   private Experince exp = new Experince();

    private async Task Create()
    {
        await _experinceService.AddExp(exp);
        NavigationManager.NavigateTo("resume");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("resume");
    }
}     